@use "shared/styles/variables" as vars;

.dashboard {
  height: 97%;
  min-height: 0;
  padding: 24px 24px 0px 24px;
  display: flex;
  gap: 16px;
  align-items: stretch;

  @media (max-width: vars.$breakpoint-tablet) {
    flex-direction: column;
    height: auto;
    padding-bottom: 24px;
  }
}
