$breakpoint-tablet: 1100px;

$background-color: #f3f3f3;
$main-color: #66a6ff;
$main-gradient: linear-gradient(80deg, #66a6ff, #76e1ff);
$secondary-color: #ff769b;
$black: #333333;
$white: #ffffff;
$grey: #7b7b7b;
$grey-light: #aaaaaa;
$grey-very-light: #c8c8c8;
$grey-extremely-light: rgba(220, 220, 220, 1);
$success: #59deaf;
$error: #ff8080;
$warning: #ffce73;

$text-color: rgba(51, 51, 51, 0.65);

$font-family: "Roboto", sans-serif;
