@use "shared/styles/variables" as vars;

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__body {
    display: flex;
    flex: 1;
    min-height: 0;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }

  &__page {
    flex: 1;
    overflow: auto;
    background-color: vars.$background-color;
  }
}
